#mainDateInput .DayPickerInput input{
        width: 240px;
        height: 30px;
        padding: 10px 20px 10px 40px;
        font-family: 'Helvetica, sans-serif';
        font-weight: 300;
        font-size: 16px;
        border: 1px solid #aaa;
        -webkit-appearance: textfield;
        background-color: white;
        -webkit-rtl-ordering: logical;
        cursor: text;
        margin-left:-1px;

}

#mainDateInput .DayPickerInput input:focus{
    border: 1px solid #50E3C2;
    outline:0;

}

#mainDateInput .DayPickerInput-Overlay{
    left:-1px;
    border: 1px solid #50E3C2;
    width:300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media only screen and (max-width: 600px) {

    #mainDateInput .DayPickerInput{
        flex: 1;
       
    }
    #mainDateInput .DayPickerInput input{
        flex:1;
        margin-left:0;
        box-sizing: border-box;
        width: 100%;
        height: 52px;
    }
    #mainDateInput .DayPickerInput-Overlay{
        left:0px;
        top:-1px;
        border: 1px solid #50E3C2;
        width:300px;
        box-shadow: none;
    }
}